.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.box {
    height: 100px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .7;
}

.box:hover {
    border-radius: 8pt;
    opacity: .9;
    color: white;
}

.one {
    background-color: red;
    flex-grow: 4;
}

.three:hover {
    background-color: red;
    flex-grow: 4;
    color: blue;
}

.two {
    background-color: green;
    /*align-self: flex-start*/;
    flex-grow: 1;
}

.three {
    background-color: yellow;
    flex-grow: 1;
}

@media (max-width: 400px) {
    .flex-container {
        flex-direction: column;
        justify-content: flex-start;
    }
    
    body {
        background: pink;
    }
}